
@{
    
    <form asp-action ="index" >
    <label for="id"> Nhập id </label>
    <input Type="text" name="ID" >
    <label for="name"> Nhập tên</label>
     <input Type="text" name="FullName" >
    <label for="name"> Nhập tuổi</label>
     <input Type="text" name="Age" >
    <label for="name"> Nhập diachi</label>
     <input Type="text" name="Address" >
     <input type="submit" value ="gửi dữ liệu ">
     </form>
}
<h1>@ViewData["Title"]</h1>
<h1>@ViewBag.Message</h1>
